{"Julia" :nominal, "Age" :nominal, "OCaml" :nominal, "Country" :nominal, "PHP" :nominal, "YearsCode" :numerical, "Python" :nominal, "Education" :nominal, "MATLAB" :nominal, "Fortran" :nominal, "Scala" :nominal, "Ruby" :nominal, "Rust" :nominal, "JavaScript" :nominal, "R" :nominal, "C" :nominal, "SalaryUSD" :numerical, "Clojure" :nominal, "YearsCodeProfessional" :numerical, "Haskell" :nominal, "SQL" :nominal, "C_sharp" :nominal, "HTML_CSS" :nominal, "Java" :nominal, "Background" :nominal, "Cplusplus" :nominal, "LISP" :nominal, "Blockchain" :nominal}
